### THIS FILE IS MANAGED BY SALTSTACK
{%- set hostname = salt['grains.get']('fqdn') -%}
{%- set selfip = ['grains.get']('ip4_interfaces:eth0:0') -%}
{%- set etcdhosts = [] -%}
{%- for k,v in salt['mine.get']('kube-*', 'grains.item', tgt_type='glob').items() -%}
{%- set etcdhost = v['fqdn'] + '=https://' + v['ip4_interfaces']['eth0'][0] + ':2380' -%}
{%- do etcdhosts.append(etcdhost) -%}
{%- endfor -%}

[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/bin/etcd  \
--name={{ hostname }} \
--data-dir=/var/lib/etcd \
--cert-file=/etc/etcd/kubernetes.pem  \
--key-file=/etc/etcd/kubernetes-key.pem \
--peer-cert-file=/etc/etcd/kubernetes.pem \
--peer-key-file=/etc/etcd/kubernetes-key.pem \
--trusted-ca-file=/etc/etcd/ca.pem \
--peer-trusted-ca-file=/etc/etcd/ca.pem \
--listen-client-urls https://0.0.0.0:2379 \
--advertise-client-urls https://{{ selfip }}:2379 \
--listen-peer-urls https://{{ selfip }}:2380 \
--initial-advertise-peer-urls https://{{ selfip }}:2380 \
--initial-cluster-token kubernete-cluster \
--initial-cluster {{ etcdhosts|join(',') }} \
--initial-cluster-state new \
--peer-client-cert-auth \
--client-cert-auth

Restart=on-failure
RestartSec=5
LimitNOFILE=30000

[Install]
WantedBy=multi-user.target
